.Entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem;
  padding: 2rem;
  border: 5px dashed saddlebrown;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  h2 {
    margin-bottom: 1.5rem;
    color: gray;
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}