.Categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  h1 {
    font-size: 3rem;
  }

  ul {
    list-style: none;

    li {
      margin: 1rem;
      font-size: 1.5rem;
      transition: ease-in-out 0.2s;

      &:hover {
        scale: 105%;
        text-decoration: underline;
      }

      &:nth-child(odd) {
        color: #6a3311;
      }

      &:nth-child(even) {
        color: #c7490c;
      }
    }
  }
}