.Index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem;

  h1 {
    font-size: 3rem;
  }

  article {
    display: flex;
    justify-content: center;
    border: 5px dashed saddlebrown;
    width: 40%;
    padding: 2rem;
    margin: 3rem;
    transition: ease-in-out 0.3s;

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-wrap: wrap;
      text-decoration: none;
      color: black;

      h4 {
        align-self: center;
        padding-bottom: 1rem;
        font-size: 1.2rem;
      }
    }

    &:hover {
      scale: 107%;
    }
  }
}