.Index {
  width: 100%;
  padding: 1rem;
  text-align: center;

  h1 {
    font-size: 3rem;
  }

  .Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  article {
    border: 5px dashed saddlebrown;
    padding: 1.2rem;
    margin: 1.8rem;
    width: 30%;
    transition: ease-in-out 0.3s;

    a {
      text-decoration: none;
      color: black;

      h4 {
        margin-bottom: 1rem;
        font-size: 1.2rem;
      }
    }

    &:hover {
      scale: 107%;
    }
  }
}
