.Entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem;
  padding: 2rem;
  border: 5px dashed saddlebrown;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  h2 {
    margin-bottom: 1.5rem;
    color: gray;
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 1.2rem;
  }

  div {
    width: 100%;
    max-width: 800px;
    border-top: 2px dashed saddlebrown;
    padding: 1.5rem 0;
    margin-top: 1.5rem;
    text-align: left;

    h4 {
      font-size: 1.1rem;
      margin-bottom: 0.3rem;
    }

    h5 {
      font-size: 0.9rem;
      color: gray;
      margin-bottom: 0.8rem;
      font-weight: normal;
    }

    p {
      font-size: 1rem;
      line-height: 1.5;
    }
  }
}