.Navbar {
  width: 100%;
  height: 80px;
  background-color: saddlebrown;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    display: flex;
    gap: 2rem;
    background-color: saddlebrown;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      a {
        color: black;
        background-color: sandybrown;
        text-decoration: none;
        font-size: 1.5rem;
        padding: 0.75rem;
        border-radius: 4px;
        transition: ease-in-out 0.2s;

        &:hover {
          background-color: peachpuff;
        }
      }
    }
  }
}
